body {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

div.safe-area {
    position: sticky;
    top: 0px;
    z-index: 2;
}

div.h-safe-area-inset-top {
    height: env(safe-area-inset-top);
    background-color: #00000044;
}

div.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 2;
    position: fixed;
    bottom: 0px;
    width: 100vw;
}

div.footer>div {
    flex-basis: 40%;
}

input#save {
    width: 48px;
    height: 48px;
    background-color: #3388FFCC;
    border-radius: 50%;
    border: 4px solid #3388FFFF;
    padding: 8px;
}

input#save:disabled {
    filter: opacity(0.50);
}

input#pause-play {
    width: 48px;
    height: 48px;
    background-color: #3388FFCC;
    border-radius: 50%;
    border: 4px solid #3388FFFF;
    padding: 8px;
}

input#pause-play:disabled {
    filter: opacity(0.50);
}

input#cancel {
    width: 48px;
    height: 48px;
    background-color: #3388FFCC;
    border-radius: 50%;
    border: 4px solid #3388FFFF;
    padding: 8px;
}

#location-left, #location-middle, #location-right {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#location-left {
    margin-left: 1em;
    margin-right: auto;
}

#location-middle {
    margin-left: auto;
    margin-right: auto;
}

#location-right {
    margin-left: auto;
    margin-right: 1em;
}
