input#save {
    width: 48px;
    height: 48px;
    background-color: #3388FFCC;
    border-radius: 50%;
    border: 4px solid #3388FFFF;
    padding: 8px;
    margin-left: auto;
    margin-right: 24px;
}

input#save:disabled {
    filter: opacity(0.50);
}

input#pause {
    width: 48px;
    height: 48px;
    background-color: #3388FFCC;
    border-radius: 50%;
    border: 4px solid #3388FFFF;
    padding: 8px;
    margin-left: auto;
    margin-right: 24px;
}

input#pause-play {
    width: 48px;
    height: 48px;
    background-color: #3388FFCC;
    border-radius: 50%;
    border: 4px solid #3388FFFF;
    padding: 8px;
    margin-left: auto;
    margin-right: 24px;
}

input#pause-play:disabled {
    filter: opacity(0.50);
}


input#cancel {
    width: 48px;
    height: 48px;
    background-color: #3388FFCC;
    border-radius: 50%;
    border: 4px solid #3388FFFF;
    padding: 8px;
    margin-left: auto;
    margin-right: 24px;
}